.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    padding: 3rem;

    mat-card {
        min-width: 17rem;
    }

    .user-content, .user-actions {
        text-align: center;
    }

}
