<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile Details"></crx-header>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <mat-card *ngIf="user$ | async as user" class="max-960 w-100 mt-5">
            <mat-card-header>
                <div mat-card-avatar style="background-image: url('{{ user.picture }}');"></div>
                <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
                <mat-card-subtitle>@{{ user.id }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <span class="mr-1 font-weight-bold">Phone:</span>
                        <span>{{ user.phoneNumber }}</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="mr-1 font-weight-bold">Cell:</span>
                        <span>{{ user.cellNumber }}</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="mr-1 font-weight-bold">City:</span>
                        <span>{{ user.city }}, {{ user.state }}</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="mr-1 font-weight-bold">Email:</span>
                        <span>{{ user.email }}</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <span class="mr-1 font-weight-bold">Date of Birth:</span>
                        <span>{{ user.dateOfBirth | date }}</span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</crx-page>
