<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile Details"></crx-header>
    </div>
    <mat-card *ngIf="user$ | async as user" class="card">
        <mat-card-title-group>
            <mat-card-title>User Profile</mat-card-title>
            <mat-card-subtitle>{{ user.firstName }} {{ user.lastName }}</mat-card-subtitle>
            <img class="circle" mat-card-md-image [src]="user.picture" />
        </mat-card-title-group>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    Phone: {{ user.phoneNumber }}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    Cell: {{ user.cellNumber }}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    City: {{ user.city }}, {{ user.state }}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    Email: {{ user.email }}
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    Date of Birth: {{ user.dateOfBirth | date }}
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</crx-page>
