#root crx-profile-detail{
  @media #{$mobile}{

    mat-list-item{
      height: auto;
    }
    .mat-list-item-content{
        display: flex;
        flex-direction: column;
        padding:1rem 0;
    }   
    .detailValue{
      font-size: 3vw;
    }
    .mat-card-title-group{
      flex-direction: column;
      align-items: center;
    }
    .circle{
      width: 35%;
      height: auto;
    }
  }
}
