.profile-details__container {
    display: flex;
    flex-direction: column;
    padding: 70px;

    button {
        margin: 44px 0;
        width: 200px;
        height: 60px;
        font-size: 20px;
    }
}
