@import '../../../../scss/utils/variables/sizes.scss';

.card {
    width: 90%;
    margin: 5%;
}

.circle {
    border-radius: 100%;
}

.mat-list-item label {
    font-weight: bold;
    padding-right: calc($gapDefault / 2);
    width: calc($gapLarge * 10);
}
