<ng-container *ngIf="users$ | async as users">
    <table mat-table [dataSource]="users">
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let user">
                <img class="circle" mat-card-md-image [src]="user.picture.thumbnail" />
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">
                <a [routerLink]="['/profile', user.name.first]">{{ user.name.first }} {{ user.name.last }}</a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</ng-container>
