:host{
  display: flex;
}

button{
  margin: 0;
  padding:0;
  border: none;
  height: auto;
  width: auto;
  background-color: transparent;
  display: flex;
  color:inherit
}

img{
  filter: invert(100%) sepia(92%) saturate(2%) hue-rotate(199deg) brightness(119%) contrast(100%);
}