
.user-name {
  margin-left: 0.75rem !important;
}

table {
  width: 100%;
}

th.mat-header-cell {
  text-align: left;
  font-size: 1rem;
}

.mat-row:hover {
  background-color: lightgray;
  cursor: pointer;
}

.profile-list-wrapper {
  padding: 1rem;
}