<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile List"></crx-header>
    </div>

    <section class="table-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First</th>
                <td mat-cell *matCellDef="let profile">{{ profile.firstName }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last</th>
                <td mat-cell *matCellDef="let profile">{{ profile.lastName }}</td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let profile">{{ profile.email }}</td>
            </ng-container>

            <!-- phoneNumber Column -->
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let profile">{{ profile.phoneNumber }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectProfile(row)"></tr>
        </table>
    </section>
</crx-page>
