#root crx-header{
  
  @media #{$mobile} {
    .logo{
      display: flex;
      flex-direction: column;
      margin: 0 0  $gapDefault  0;
      justify-content: center;

    }
    .mat-form-field-wrapper{
        padding: 0 !important;
    }
    .mobileI18nOptions {
        display: block;
  
        .mat-form-field-underline{
            position: static;
        }
    }

    mat-form-field{
      width: 10rem;
    }
    .i18nButtons{
        display: none;
    }
  
  }
  
}
