<ng-container *ngIf="user$ | async as user">
    <mat-card class="mat-elevation-z7">
        <mat-card-header>
            <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
        </mat-card-header>

        <img mat-card-image [src]="user.picture" alt="profile-image" />

        <mat-card-content class="user-content">
            <p>{{ user.city }}, {{ user.state }}</p>
        </mat-card-content>

        <mat-card-actions class="user-actions">
            <button mat-raised-button color="primary" [routerLink]="['../']">Back</button>
        </mat-card-actions>
    </mat-card>
</ng-container>
